.cartitems {
    margin: 100px 170px;
}

.header-action {
    margin-bottom: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.select-all-products-action {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.custom-control {
    display: flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    position: relative;
    gap: 10px;
    z-index: 1;
}

.custom-control-input {
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    height: 1rem;
    width: 1rem;
    margin: auto;
    font-size: 16px;
    overflow: visible;
    opacity: 0;
}

.custom-control-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.custom-control-label::before {
    background-color: #fff;
    border: 1px solid #adb5bd;
    pointer-events: none;
    transition: background-color .15s ease-in-out, 
                border-color .15s ease-in-out, 
                box-shadow .15s ease-in-out;
            }
            
            .custom-control-label::after {
                background-color: #fff;
                box-shadow: 0 0 0 1px #8d8788;
    background: 50% / 50% 50% no-repeat;
}

.custom-control-label::before, .custom-control-label::after {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    position: absolute;
    border-radius: 50%;
    left: -80px;
    pointer-events: none;
    z-index: 31;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #d70018;
    border: 1px solid #fff;
    box-shadow: 0 0 2px 2px #d70018;
    color: #fff;
}

.custom-control-input:checked~.custom-control-label::after {
    background-color: #d70018;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #d70018;
    background-image: url(../Assets/download.svg);
}

.custom-control .custom-control-label::before, .custom-control .custom-control-label::after {
    top: 4px;
    left: -26px;
}

.select-all-products-action p {
    position: relative;
}

.cartitems button {
    text-transform: none;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    border-radius: 0;
}

button:not(:disabled) {
    cursor: pointer;
}

.header-action .btn-remove-checked {
    background-color: transparent;
    border: 0;
    color: #9f9d9d;
    font-size: 14px;
    text-align: right;
}

.header-action .btn-remove-checked:hover {
    color: #3a3a3a;
    text-decoration: underline;
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 40px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format-main div {
    display: flex;
    justify-content: center;
}

.cartitem-format {
    font-size: 17px;
    font-weight: 500;
}

.cartitem-product-icon {
    height: 62px;
}

.cartitem-quantity-action {
    display: flex !important;
    align-items: center;
}

.cartitem-quantity-action .minus, .cartitem-quantity-action .plus {
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f3f3f3;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    user-select: none;
}

.cartitem-quantity {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    text-align: center;
    width: 30px;
}

.cartitem-delete-icon {
    width: 15px;
    margin: auto;
    cursor: pointer;
}

.cartitems-down {
    display: flex;
    margin: 100px 0;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.cartitems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p {
    color: #555;
}

.cartitems-promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}

.cartitems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.cartitems-promobox button {
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .cartitems {
        margin: 60px 50px;
    }

    .cartitems-format-main {
        grid-template-columns: 0.25fr 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0;
        font-size: 15px;
    }

    .cartitem-product-icon {
        height: 50px;
        padding: 0;
        margin: auto;
    }

    .cartitem-quantity {
        width: 40px;
        height: 30px;
    }

    .cartitems-down {
        margin: 80px 0;
        flex-direction: column;
        gap: 80px;
    }

    .cartitems-total {
        margin: 0;
    }

    .cartitems-total button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }

    .cartitems-promobox {
        width: auto;
        max-width: 500px;
    }

    .cartitems-promobox input {
        width: 100%;
    }

    .cartitems-promobox button {
        width: 120px;
        margin-left: -125px;
    }
}

@media (max-width: 600px) {
    .cartitems-format-main {
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }

    .cartitem-format {
        display: grid;
    }

    .cartitems-format-main div {
        display: block;
    }
}