body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:not(.cartitems *, .loginsignup *), ::after, ::before {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
}

form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

button, input, select, textarea {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

p, hr, ul, li {
  margin: 0;
  padding: 0;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  font-weight: 700;
}